{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="pet-profile">
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src="{{ pet.pet_photo }}"
                             alt="img8">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <p>{{ pet.pet_name }}</p>
                        {% if owner == request.user %}
                            <a href="{% url 'pet-edit' pet_slug=pet.slug username=owner.username %}">
                                <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                            </a>
                            <a href="{% url 'pet-delete' pet_slug=pet.slug username=owner.username %}">
                                <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                            </a>
                        {% endif %}
                    </div>
                    <div class="data">
                        <span>{{ all_photos.count }}</span>
                        <p>photos</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="pet-posts">
            {% if all_photos %}
                {% include 'common/pet-posts.html' %}
            {% else %}
                <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
            {% endif %}
        </div>
    </div>
{% endblock %}